<!doctype html>

<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>WikiDiver</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css">

    <script src="jquery/jquery-1.11.3.min.js"></script>

    <script src="js/DomParserExtention.js"></script>
    <script src="js/commonFunctions.js"></script>
    <script src="js/storageManager.js"></script>
    <script src="js/treeManager.js"></script>
    <script src="js/wikiAdapter.js"></script>

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/angular/checklist-model.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <script src="cordova.js"></script>
    <script src="js/app.js"></script>

    <style>
    .contents_wrapper {
      text-align: center;
    }
    #home_searchKey {
      margin : 4px;
    }

    a:link { color: blue }
    a:visited { color: blue }
    a:hover { color: blue }
    a:active { color: blue }
    </style>


</head>

<body>

<ons-navigator var="myNavigator" page="home.html"></ons-navigator>

<!-- Home画面　index > home -->
<ons-template id="home.html">
    <ons-page ng-controller="HomeController" id="home">

      <ons-toolbar>
          <div class="center">WikiDiver</div>
      </ons-toolbar>

      <div class="contents_wrapper">
        <div>
          <input type="text" id="home_searchKey" class="search-input" placeholder="input keyword..." value="">
        </div>

        <div>
          <!--
          <ons-button ng-click="dive()" modifier="large--cta">search</ons-button>
        -->
        <ons-button ng-click="dive()">search</ons-button>
        </div>

        <div>
          <!-- favoriteとhistory -->

          <!--
          history: headerの所から再開する.
          -->

          <!--
          favorite: headerの所から再開する.


          -->
        </div>
      </div>

    </ons-page>
</ons-template>

<ons-template id="search_result_header.html">
  <ons-page ng-controller="HeaderListController" var="pageSearchResultHeader">

    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Headers</div>
    </ons-toolbar>

    <ons-list>
      <ons-list-item id="header_main_list" modifier="chevron" class="item list-item-container" ng-repeat="item in items" ng-click="processItemSelect($index, $event)">
        <ons-col>
          {{item.pageid}}
        </ons-col>
        <ons-col>
          {{item.title}}
        </ons-col>
      </ons-list-item>
    </ons-list>

  </ons-page>
</ons-template>

<ons-template id="search_result_detail.html">
  <ons-page ng-controller="DetailController" var="pageSearchResultDetail">

    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Detail</div>
      <!-- ここにお気に入りボタンを, あと、トップに戻るボタンも -->
    </ons-toolbar>

    <p>
      <h1 id="detail_title" class="title">
        {{title}}
      </h1>
    </p>

    <p>
      <span id="detail_summary" ng-bind-html="summary"></span>
    </p>

    <p ng-show="is_links_exist">
      <ons-list>
        <ons-list-header>links</ons-list-header>
        <ons-list-item modifier="chevron" class="item list-item-container" ng-repeat="item in links" ng-click="processLinkItemSelect($index, $event)">
          <span>{{item.title}}</span>
        </ons-list-item>
      </ons-list>
    </p>

    <p id="detail_content" ng-bind-html="article" class="article"></p>

    <p id="detail_content_ts"></p>

  </ons-page>
  </ons-page>
</ons-template>

<ons-template id="settings.html">

</ons-template>

</body>
</html>


<!--

media wiki
https://en.wikipedia.org/w/api.php?action=help&modules=query



Emmetの使い方

!
でtabすると、htmlを

div#myId>ul>li*3
でtabすると、この構造のhtmlを出してくれる


軌跡もつけよう！
tree構造の


-->



<!-- 各親ページのnavigatorを定義 -->
<!--
<ons-template id="index.html">
    <ons-navigator var="myNavigator" page="home.html"></ons-navigator>
</ons-template>


<ons-template id="search_result_header.html">
    <ons-navigator var="myNavigator" page="view_record.html"></ons-navigator>
</ons-template>

<ons-template id="search_result_detail.html">
    <ons-navigator var="myNavigator" page="entry_record.html"></ons-navigator>
</ons-template>
-->

<!--
画面設計

[[top screen]]
    summary:
        wikidiverのtitle画面. favorite, 履歴のtop5が見れる

    content:
        title
        account (server連携用)
        favorite items
        history items (履歴)

    action:

        dive
            とある文言をキーとしてwikiの検索を始める

[[wiki header screen]]
    summary:
        あいまい検索候補一覧が表示

    content:
        header list
            wiki headerのリスト. ヘッダとサマリ文の一覧が表示される

    action:
        get detail
            wiki detailを取得しにいく
            画面移動的には
                wiki header screen ⇒ wiki detail screen

        radiate(放射状に広がる), 横並びに検索
            このキーに紐づくキーワード一覧を取得する
            画面移動的には、
                wiki header screen ⇒ wiki header screen


[[wiki detail screen]]
    summary:
        詳細情報画面

    content:
        title
        article

    action:
        favorite
            お気に入りに追加
                永続的に保存する

        hold
            一時ホールドしておく
                後に全件削除とかが可能

        dive
            このキーをもとに他のキー一覧を取得する
            画面移動的には
                wiki detail ⇒　wiki header


データ構造的には、
    me
        title, articleなどの実コンテンツをもつ
    parent
        複数親になる可能性あり...
    childs
        関連キーの子供たち
-------------------------------------------------------
bower
    フロントエンドパッケージマネージャ


-->
