<!doctype html>

<!--
historyからtreeしてーとかやってると、treeでindex求める時にバグるもよう...

-->

<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>WikiDiver</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css" />



    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/angular/checklist-model.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <script src="jquery/jquery-1.11.3.min.js"></script>

    <script src="constants/constants.js"></script>

    <script src="js/DomParserExtention.js"></script>
    <script src="js/commonFunctions.js"></script>
    <script src="js/storageManager.js"></script>
    <script src="js/wikiAdapter.js"></script>

    <script src="cordova.js"></script>
    <script src="js/wikidiverController.js"></script>
    <script src="js/popoverSharingService.js"></script>

    <style>
    .contents_wrapper {
      text-align: center;
    }
    #home_searchKey {
      margin : 4px;
    }
    a{
      font-size: 120%;
      color: blue !important;
      cursor: pointer;
    }
    .mw-editsection{
      display: none;
    }
    .infobox{
      width: 100% !important;
    }
    .red-button{
      background-color: #f85050;
    }
    </style>


</head>
<!--
angular promise
http://whiskers.nukos.kitchen/2015/04/27/angularjs-promise.html
-->
<body>

  <script type="text/ons-template" id="popover_memo.html">
    <ons-dialog ng-controller="popoverController" animation="none" cancelable style="width: 90%; max-width: 400px;">
      <div style="padding: 8px;">
      <p>Memo for <span font-size="120%">{{sharing.title}}</span></p>
      <p class="caption">{{sharing.caption}}</p>
      <div>
        <ons-button ng-click="saveMemo()">save</ons-button>
        <ons-button ng-click="deleteMemo()">delete</ons-button>
      </div>
      <textarea ng-model="sharing.memo" rows="5" cols="20" style="width: 100%;"></textarea>
    </ons-dialog>
  </script>



<ons-sliding-menu main-page="home.html" menu-page="menu.html" side="right" max-slide-distance="250px" var="myMenu">

  <!-- slide menu用 -->
  <ons-template id="menu.html">
    <div ng-controller="MenuController">
      <ons-list>
        <ons-list-item onclick="myMenu.setMainPage('home.html', {closeMenu: true})">
          <ons-row>
            <ons-col width="30%"><ons-icon icon="home" style="font-size: 28px; width: 1em;"></ons-icon></ons-col>
            <ons-col>Home</ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item ng-click="move2Tree()">
          <ons-row>
            <ons-col width="30%"><ons-icon icon="code-fork" style="font-size: 32px; width: 1em;"></ons-icon></ons-col>
            <ons-col>Tree</ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item ng-click="move2FavoriteOrHistory('favorite')">
          <ons-row>
            <ons-col width="30%"><ons-icon icon="ion-android-star" style="font-size: 28px; width: 1em;"></ons-icon></ons-col>
            <ons-col>Favorite</ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item ng-click="move2FavoriteOrHistory('history')">
          <ons-row>
            <ons-col width="30%"><ons-icon icon="history" style="font-size: 32px; width: 1em;"></ons-icon></ons-col>
            <ons-col>History</ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item ng-click="move2FavoriteOrHistory('notes')">
          <ons-row>
            <ons-col width="30%"><ons-icon icon="book" style="font-size: 28px; width: 1em;"></ons-icon></ons-col>
            <ons-col>Notes</ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item ng-click="move2setting()">
          <ons-row>
            <ons-col width="30%"><ons-icon icon="gear" style="font-size: 28px; width: 1em;"></ons-icon></ons-col>
            <ons-col>Settings</ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>
    </div>
  </ons-template>

  <!-- Home画面　index > home -->
  <ons-template id="home.html">

    <ons-navigator var="myNavigator">
        <ons-page ng-controller="HomeController" id="home">

          <ons-toolbar>
              <div class="center">WikiDiver</div>
              <div class="right">
                <ons-toolbar-button ng-click="myMenu.toggleMenu()">
                  <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
                </ons-toolbar-button>
              </div>
          </ons-toolbar>

          <div class="contents_wrapper">
            <div>
              <input type="text" id="home_searchKey" class="search-input" placeholder="input keyword..." value="" />
            </div>

            <div>
              <ons-button ng-click="dive()" modifier="large"><ons-icon icon="search" style="font-size: 24px; width: 1em;"></ons-icon>search</ons-button>
            </div>

            <div>
              <ons-button ng-click="move2favorite()" modifier="large--quiet">view favorite({{favorite_length}} records)</ons-button>
            </div>

            <div>
              <ons-button ng-click="move2history()" modifier="large--quiet">view history({{history_length}} records)</ons-button>
            </div>

            <div>
              <ons-button ng-click="move2notes()" modifier="large--quiet">view notes({{notes_length}} records)</ons-button>
            </div>

            <div>
              <ons-button ng-click="randomDive()" modifier="large--quiet">
                <ons-icon icon="random" style="font-size: 24px; width: 1em;"></ons-icon>
                Random Search
              </ons-button>
            </div>

            <div>
              <ons-button ng-click="move2setting()" modifier="large--quiet">setting</ons-button>
            </div>
          </div>

        </ons-page>

    </ons-navigator>
  </ons-template>

  <ons-template id="search_result_header.html">
    <ons-page ng-controller="HeaderListController" var="pageSearchResultHeader">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">{{screen_title}}</div>

        <div class="right">
          <ons-toolbar-button ng-click="myMenu.toggleMenu()">
            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <ons-list>
        <ons-list-item ng-show="is_favorite||is_history||is_notes">
          <ons-button ng-hide="delete_mode" modifier="large" ng-disabled="items.length==0" ng-click="toggleDeletemode()">delete</ons-button>
          <ons-row ng-show="delete_mode">
            <ons-col>
              <ons-button modifier="large" ng-click="toggleDeletemode()">cancel</ons-button>
            </ons-col>
            <ons-col>
              <ons-button modifier="large--quiet" ng-click="toggleAllTargets()">check all</ons-button>
            </ons-col>
            <ons-col>
              <ons-button modifier="large" class="red-button" ng-click="deleteFavOrHis()">delete</ons-button>
            </ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-header>items</ons-list-header>
        <ons-list-item id="header_main_list" modifier="chevron" class="item list-item-container" ng-repeat="item in items track by $index" ng-click="processItemSelect($index, $event)">
          <ons-row>
            <ons-col ng-show="delete_mode" width="20%"><input type="checkbox" checklist-model="delete_targets.list" checklist-value="item.title"><div class="checkbox__checkmark"></div></ons-col>
            <ons-col>{{item.title}}</ons-col>
            <ons-col ng-hide="delete_mode" ng-show="is_notes" width="50%" style="overflow: hidden;">{{item.memo}}</ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>

    </ons-page>
  </ons-template>

  <ons-template id="search_result_detail.html">
    <ons-page ng-controller="DetailController" var="pageSearchResultDetail">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <!--<div class="center">Detail</div>-->
        <div class="right">
          <ons-toolbar-button ng-click="openWithBrowser()">
            <ons-icon icon="globe" style="font-size: 32px; width: 1em;"></ons-icon>
          </ons-toolbar-button>
          <ons-toolbar-button id="detail_note_button" ng-click="openNote()" style="position: relative;">
            <ons-icon icon="book" style="font-size: 32px; width: 1em;"></ons-icon>
            <div style="position: absolute; border-style: solid; border-radius: 8px; width: 14px; height: 14px; font-size: 9px; border-width: 1px; top: 2px; left: 2px;">
              <span style="position: relative; top: -14px; left: -4px;">2</span>
            </div>
          </ons-toolbar-button>
          <ons-toolbar-button ng-click="saveAsFavorite()">
            <ons-icon icon="ion-android-star" style="font-size: 32px; width: 1em;"></ons-icon>
          </ons-toolbar-button>
          <ons-toolbar-button ng-click="myMenu.toggleMenu()">
            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <p>
        <h1 id="detail_title" class="title">{{title}}</h1>
      </p>

      <p>
        <span id="detail_summary" ng-bind-html="summary"></span>
      </p>

      <p ng-show="is_links_exist">
        <ons-button modifier="large--quiet" ng-click="processLinkSearch()">Link search</ons-button>
      </p>

      <p id="detail_content" ng-click="processArticleClick($event)" ng-bind-html="article" class="article"></p>

    </ons-page>
  </ons-template>

  <ons-template id="settings.html">
    <ons-page ng-controller="SettingsController">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Settings</div>

        <div class="right">
          <ons-toolbar-button ng-click="myMenu.toggleMenu()">
            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <div class="contents_wrapper">
        <ons-row>
          <ons-col width="65%">
            <h2>Language</h2>
          </ons-col>
          <ons-col width="35%">
            <div class="button-bar__item">
                <input type="radio" ng-model="radio_language" value="ja" />
                <div class="button-bar__button">Japanese</div>
            </div>
            <div class="button-bar__item">
                <input type="radio" ng-model="radio_language" value="en" />
                <div class="button-bar__button">English</div>
            </div>
          </ons-col>
        </ons-row>

        <ons-row>
          <ons-col width="65%">
            <h2>Parse or Extract</h2>
          </ons-col>
          <ons-col width="35%">
            <div class="button-bar__item">
                <input type="radio" ng-model="radio_article" value="5" />
                <div class="button-bar__button">Parse</div>
            </div>
            <div class="button-bar__item">
                <input type="radio" ng-model="radio_article" value="4" />
                <div class="button-bar__button">Extract</div>
            </div>
          </ons-col>
        </ons-row>

        <ons-row>
          <ons-col width="65%">
            <h2>Save History Length</h2>
          </ons-col>
          <ons-col width="35%">
            <input type="number" ng-model="history_length">
          </ons-col>
        </ons-row>

        <ons-row>
          <ons-button modifier="large" ng-click="saveMasterSetting()">Commit Changes</ons-button>
        </ons-row>
      </div>

    </ons-page>
  </ons-template>


  <ons-template id="tree_view.html">
    <ons-page ng-controller="TreeViewController">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Map</div>
        <div class="right">
          <ons-toolbar-button ng-click="myMenu.toggleMenu()">
            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>

      <div class="contents_wrapper">
        <ons-list>
          <ons-list-item ng-repeat="page in page_stack" ng-click="move2SelectDepth($index)">
            <ons-row>
              <ons-col width="10%">{{page.depth}}</ons-col>
              <ons-col width="10%">{{page.type}}</ons-col>
              <ons-col width="80%">{{page.search_key}}</ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>
      </div>
    </ons-page>
  </ons-template>

</ons-sliding-menu>

</body>

</html>
