#entry_record .input_title{
	display: block;
	text-align: left;
	font-size: 12px;
}

#entry_record input{
	width: 100%;
}

#entry_record .list__item:first-child{
	border: none;
}

#entry_record .list__item{
	border: none;
}

#entry_record .list{
	background-color: transparent;
}